<div class="row">

  <div class="col-md-4">

    <%= image_tag @movie.movie_img.url(:movie_show), class: "movie-show" %>

  </div>

  <div class="col-md-8">
    <h1><%= @movie.title %></h1>
    <h2><i>Combo Score:</i></h2>
    <div class="average-review-rating" data-score=<%= @average_review %>></div><br>
    <span class="number-of-reviews"><%= @movie.reviews.count %><i> Total Reviews</i></span>
    <p><%= @movie.description %></p>
    <h5><%= @movie.director %></h5>
    <h5><%= @movie.length %></h5>
    <h5><%= @movie.rating %></h5>
  </div>

</div>

<div class="row">

  <div class="col-md-4">

    <!-- Where the reviews & ratings will go -->
    <%= render @movie.reviews %>

    <div>
      <%= link_to "Add Review", new_movie_review_path(@movie) %>
    </div>

  </div>

</div>

<%= link_to "<Back", root_path %>

<% if user_signed_in? %>

  <% if @movie.user_id == current_user.id %>

    <%= link_to "Edit", edit_movie_path(@movie) %>
    <%= link_to "Delete", movie_path(@movie), method: :delete, data: { confirm: "Are you sure?" } %>

  <% end %>

<% end %>

<script>
  $('.review-rating').raty({
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    },
    path: '/assets/'
  });
  </script>

  <script>
    $('.average-review-rating').raty({
      readOnly: true,
      path: '/assets/',
      score: function() {
        return $(this).attr('data-score');
      }
    });
  </script>
